body {
    background-color: bisque;
    padding: 20px;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }

.container {
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  
h1 {
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
  }
  
p {
    background-color: rgb(222, 135, 215);
    color: blue;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    padding: 10px;
  }

